*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-block-wrap .news .news-top .news-top-title h2, .main-block-wrap .equipment-rent-top-title h2, .main-block-wrap .category-items-top-btn-num, .main-block-wrap .category-items-top-title h2, .main-block-wrap .slider-top-title h2 {
  display: inline;
  margin-left: 40px;
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 400;
  line-height: 44.46px;
  letter-spacing: 0.05em;
  color: #343434;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header {
  height: 100vh;
  background-image: url(../images/Header/headerBack.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header .header-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 91, 193, 0.6);
  padding: 11px 0 11px 40px;
}
header .header-logo-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-logo-menu .logo img {
  width: 3vw;
}
@media screen and (max-width: 1100px) {
  header .header-logo-menu .logo img {
    width: 8vw;
  }
}
header .header-logo-menu .logo .title-logo {
  width: 75px;
  height: 58px;
  padding-left: 8px;
  margin: auto;
  color: #fff;
  font-family: "Titillium Web";
  font-size: 24pt;
  line-height: 28.8px;
  text-align: center;
}
header .header-logo-menu .menu {
  margin: auto;
}
header .header-logo-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header .header-logo-menu .menu ul li {
  padding-right: 26px;
  font-family: "Open Sans";
  font-size: 14pt;
}
header .header-logo-menu .menu ul li a {
  text-decoration: none;
  color: #fff;
}
header .header-screen-content {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header-screen-content .ctx {
  max-width: 778px;
}
header .header-screen-content .ctx-title {
  font-family: "Oswald";
  font-size: 48pt;
  color: #fff;
}
header .header-screen-content .ctx-text {
  margin: 40px 0;
  max-width: 546px;
  font-family: "Open Sans";
  font-size: 16pt;
  color: #fff;
}
header .header-screen-content .ctx-btn {
  padding: 15px 40px;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16pt;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 2;
}
header .header-screen-content .ctx-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 119, 255, 0.768627451);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: -2;
}
header .header-screen-content .ctx-btn:hover {
  color: #fff;
}
header .header-screen-content .ctx-btn:hover::after {
  width: 100%;
}

.buy-equipment {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}
.buy-equipment-wrap {
  width: 1754px;
  background-color: rgba(0, 90, 193, 0.7450980392);
  position: relative;
  display: none;
}
.buy-equipment-wrap-btnClose {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.buy-equipment-wrap-title {
  padding-top: 30px;
  font-family: "Oswald";
  font-size: 64px;
  font-weight: bolder;
  letter-spacing: 0.05em;
  text-align: center;
  color: #CCCCCC;
}
.buy-equipment-wrap-decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 189px 0 53px;
}
.buy-equipment-wrap-decor img {
  width: 348px;
  height: 322px;
  border: 1px solid #979797;
  margin-right: 120px;
}
.buy-equipment-wrap-decor-form input {
  display: block;
  width: 473px;
  height: 44px;
  padding-left: 12px;
  margin-bottom: 50px;
  outline: none;
  font-family: "Oswald";
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.05em;
  border: none;
  color: #c4c4c4;
}
.buy-equipment-wrap-decor-form-dataProcecing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buy-equipment-wrap-decor-form-dataProcecing input {
  display: initial;
  outline: none;
  width: 28px;
  height: 28px;
}
.buy-equipment-wrap-decor-form-dataProcecing span {
  margin-left: 11px;
  font-family: "Oswald";
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 23px;
  color: #c4c4c4;
}
.buy-equipment-wrap-decor-form-dataProcecing span a {
  text-decoration: underline;
  color: #c4c4c4;
}
.buy-equipment-wrap-decor-form button {
  display: block;
  padding: 11px 13px;
  font-family: "Open Sans";
  font-weight: bolder;
  font-size: 16px;
  letter-spacing: 0.05em;
  border: none;
  color: #c4c4c4;
  background-color: #fff;
}
.buy-equipment-wrap-decor-form button:disabled {
  background-color: rgba(103, 103, 103, 0.3607843137);
}
.buy-equipment-wrap.open {
  display: block;
}

.main-block {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block-wrap .slider-top {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-block-wrap .slider-top-btn img {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-block-wrap .slider-top-btn img:hover {
  background-color: rgba(0, 119, 255, 0.768627451);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.main-block-wrap .slider-wrap {
  margin-top: 70px;
}
.main-block-wrap .slider-wrap-ctx:not(:last-child) {
  margin-right: 30px;
}
.main-block-wrap .category-items {
  margin-top: 150px;
}
.main-block-wrap .category-items-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0 50px;
}
.main-block-wrap .category-items-top-btn-num {
  position: relative;
  font-size: 24px;
  line-height: 35.57px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.main-block-wrap .category-items-top-btn-num:not(:last-child) {
  margin-right: 47px;
}
.main-block-wrap .category-items-top-btn-active {
  color: #005BC1;
}
.main-block-wrap .category-items-top-btn-active::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  color: #005BC1;
  width: 100%;
  border: 2px solid #005BC1;
}
.main-block-wrap .category-items-arr-ctx {
  cursor: pointer;
}
.main-block-wrap .category-items-arr-ctx:not(:last-child) {
  margin-right: 30px;
}
.main-block-wrap .equipment-rent {
  margin-top: 150px;
}
.main-block-wrap .equipment-rent-ctx {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-block-wrap .equipment-rent-ctx-explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  margin-right: 95px;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 24.51px;
  color: #343434;
}
.main-block-wrap .equipment-rent-ctx-slider {
  width: 672px;
  border: 3px solid #005BC1;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap {
  padding: 30px 20px;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-top h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.68px;
  letter-spacing: 0.05em;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-top-btn img {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-top-btn img:hover {
  background-color: rgba(0, 119, 255, 0.768627451);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1 img {
  margin-right: 50px;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1-info h4 {
  font-family: "Oswald";
  font-size: 16px;
  font-weight: 500;
  line-height: 23.71px;
  letter-spacing: 0.05em;
  color: #343434;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1-info ul {
  margin-top: 30px;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1-info ul li {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1-info ul li:not(:first-child) {
  margin-top: 20px;
}
.main-block-wrap .equipment-rent-ctx-slider-wrap-arr-1-info ul li::marker {
  font-size: 12px;
}
.main-block-wrap .news {
  margin-top: 150px;
}
.main-block-wrap .news .news-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 77px;
}
.main-block-wrap .news .news-top button {
  padding: 15px 34px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 21.79px;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #005BC1;
  border: 1px solid #005BC1;
}
.main-block-wrap .news .news-ctx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-block-wrap .news .news-ctx .news-ctx-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info {
  max-width: 264px;
  margin-left: 30px;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info .news-ctx-main-info-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info .news-ctx-main-info-top h4 {
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.68px;
  letter-spacing: 0.05em;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info .news-ctx-main-info-top p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #979797;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info .news-ctx-main-info-text {
  margin-top: 42px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-main .news-ctx-main-info a {
  display: block;
  margin-top: 21px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
  color: #343434;
  text-decoration: underline;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-1 {
  max-width: 233px;
  margin-right: 60px;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-1 .news-ctx-secondary-1-title {
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.68px;
  letter-spacing: 0.05em;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-1 .news-ctx-secondary-1-info {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-1 .news-ctx-secondary-1-imgData {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-1 .news-ctx-secondary-1-imgData p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #979797;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-2 {
  max-width: 233px;
  margin-right: 60px;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-2 .news-ctx-secondary-2-title {
  width: 0;
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.68px;
  letter-spacing: 0.05em;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-2 .news-ctx-secondary-2-info {
  margin-top: 15px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #343434;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-2 .news-ctx-secondary-2-imgData {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.main-block-wrap .news .news-ctx .news-ctx-secondary-2 .news-ctx-secondary-2-imgData p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  color: #979797;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
  margin-top: 120px;
  background-color: #005BC1;
}
footer .footer-wrap {
  width: 1194px;
  color: #fff;
}
footer .footer-wrap hr {
  width: 100%;
  margin: 25px 0;
}
footer .footer-wrap-contacts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}
footer .footer-wrap-contacts-info h4 {
  font-family: "Oswald";
  font-size: 18px;
  font-weight: 400;
  line-height: 26.68px;
  letter-spacing: 0.05em;
}
footer .footer-wrap-contacts-info p {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19.07px;
}
footer .footer-wrap-contacts-info a {
  text-decoration: none;
  color: #fff;
}
footer .footer-wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
footer .footer-wrap-list ul {
  list-style: none;
}
footer .footer-wrap-list ul li {
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  line-height: 19.07px;
}
footer .footer-wrap-list ul li:not(:last-child) {
  margin: 0 110px 10px 0;
}
footer .footer-wrap-company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-wrap-company-info p {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: lighter;
  line-height: 19.07px;
}