*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 100vh;
  background-image: url(../images/Header/headerBack.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
header .header-logo-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 91, 193, 0.6);
  padding: 11px 0 11px 40px;
}
header .header-logo-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header-logo-menu .logo img {
  width: 3vw;
}
@media screen and (max-width: 1100px) {
  header .header-logo-menu .logo img {
    width: 8vw;
  }
}
header .header-logo-menu .logo .title-logo {
  width: 75px;
  height: 58px;
  padding-left: 8px;
  margin: auto;
  color: #fff;
  font-family: "Titillium Web";
  font-size: 24pt;
  line-height: 28.8px;
  text-align: center;
}
header .header-logo-menu .menu {
  margin: auto;
}
header .header-logo-menu .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
header .header-logo-menu .menu ul li {
  padding-right: 26px;
  font-family: "Open Sans";
  font-size: 14pt;
}
header .header-logo-menu .menu ul li a {
  text-decoration: none;
  color: #fff;
}
header .header-screen-content {
  position: relative;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .header-screen-content .ctx {
  max-width: 778px;
}
header .header-screen-content .ctx-title {
  font-family: "Oswald";
  font-size: 48pt;
  color: #fff;
}
header .header-screen-content .ctx-text {
  margin: 40px 0;
  max-width: 546px;
  font-family: "Open Sans";
  font-size: 16pt;
  color: #fff;
}
header .header-screen-content .ctx-btn {
  padding: 15px 40px;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 16pt;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 2;
}
header .header-screen-content .ctx-btn ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 119, 255, 0.768627451);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  z-index: -2;
}
header .header-screen-content .ctx-btn :hover {
  color: #fff;
}
header .header-screen-content .ctx-btn :hover::after {
  width: 100%;
}

.main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}
.main-block .slider-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-block .slider-top-title h2 {
  display: inline;
  margin-left: 40px;
  font-family: "Oswald";
  font-size: 30px;
  font-weight: 400;
  line-height: 44.46px;
  letter-spacing: 0.05em;
  color: #343434;
}
.main-block .slider-top-btn {
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.main-block .slider-top-btn :hover {
  background-color: rgba(0, 119, 255, 0.768627451);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.main-block .slider-wrap {
  margin-top: 70px;
}
.main-block .slider-wrap-ctx:not(:last-child) {
  margin-right: 30px;
}