*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$sreen-width: 100vw;
$sreen-height: 100vh;
$screen-fontSize: 100pt;

%h2 {
    display: inline;
    margin-left: 40px;                
    font-family: "Oswald";
    font-size: 30px;
    font-weight: 400;
    line-height: 44.46px;
    letter-spacing: 0.05em;
    color: #343434;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

header {
    height: 100vh;

    background-image: url(../images/Header/headerBack.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .header-logo-menu {
        display: flex;
        background-color: #005BC199;
        padding: 11px 0 11px 40px;

        .logo {
            display: flex;

            img {
                width: calc($sreen-width - 97vw);

                @media screen and (max-width: 1100px) {
                    width: calc($sreen-width - 92vw);
                }
            }

            .title-logo {
                width: 75px;
                height: 58px;
                padding-left: 8px;
                margin: auto;
                color: #fff;

                font-family: 'Titillium Web';
                font-size: calc($screen-fontSize - 76pt);
                line-height: 28.8px;
                text-align: center;
            }
        }

        .menu {
            margin: auto;

            ul {
                display: flex;    
                list-style: none;

                li {
                    padding-right: 26px;

                    font-family: 'Open Sans';
                    font-size: calc($screen-fontSize - 86pt);

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }

    .header-screen-content {
        position: relative;
        height: calc($sreen-height - 10vh);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .ctx {
            max-width: 778px;

            &-title {
                font-family: "Oswald";
                font-size: calc($screen-fontSize - 52pt);
                color: #fff;
            }

            &-text {
                margin: 40px 0;
                max-width: 546px;

                font-family: "Open Sans";
                font-size: calc($screen-fontSize - 84pt);
                color: #fff;
            }

            &-btn {
                padding: 15px 40px;

                border: 1px solid #fff;
                background: none;
                cursor: pointer;

                font-family: "Open Sans";
                font-size: calc($screen-fontSize - 84pt);
                text-transform: uppercase;
                text-decoration: none;
                color: #fff;

                position: relative;
                z-index: 2;

                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: #0077ffc4;
                    transition: all .35s;
                    z-index: -2;
                }

                &:hover {
                    color: #fff;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.buy-equipment {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    
    &-wrap {
        width: 1754px;
        background-color: #005ac1be;
        position: relative;
        display: none;

        &-btnClose {
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }

        &-title {
                padding-top: 30px;
        
                font-family: "Oswald";
                font-size: 64px;
                font-weight: bolder;
                letter-spacing: 0.05em;
                text-align: center;
                color: #CCCCCC;
        }
        
        &-decor {
                display: flex;
                justify-content: center;
                padding: 189px 0 53px;
                
                img {
                    width: 348px;
                    height: 322px;
                    border: 1px solid #979797;
                    margin-right: 120px;
                }
        
                &-form {
                    input {
                        display: block;
                        width: 473px;
                        height: 44px;
                        padding-left: 12px;
                        margin-bottom: 50px;
                        outline: none;
        
                        font-family: "Oswald";
                        font-weight: bolder;
                        font-size: 16px;
                        letter-spacing: 0.05em;
                        border: none;
                        color: #c4c4c4;
                    }
        
                    &-dataProcecing {
                        display: flex;
        
                        input {
                            display: initial;
                            outline: none;
                            width: 28px;
                            height: 28px;
                        }
        
                        span {
                            margin-left: 11px;
        
                            font-family: "Oswald";
                            font-weight: bolder;
                            font-size: 14px;
                            letter-spacing: 0.05em;
                            line-height: 23px;
                            color: #c4c4c4;
        
                            a {
                                text-decoration: underline;
                                color: #c4c4c4;
                            }
                        }
                    }
        
                    button {
                        display: block;
                        padding: 11px 13px;
                        
        
                        font-family: "Open Sans";
                        font-weight: bolder;
                        font-size: 16px;
                        letter-spacing: 0.05em;
                        border: none;
                        color: #c4c4c4;
                        background-color: #fff;
    
                        &:disabled {
                            background-color: #6767675c;
                        }
                    }
                }
        }

        &.open {
            display: block;
        }
    }
}

.main-block {
    margin-top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    &-wrap {
        .slider {
            &-top {
                max-width: 1100px;
                display: flex;
                justify-content: space-between;

                &-title {
                    h2 {
                        @extend %h2;
                    }
                }

                &-btn {
                    img {
                        cursor: pointer;
                        transition: all .5s;
                    }

                    img:hover {
                        background-color: #0077ffc4;
                        transition: all .35s;
                    }
                }
            }

            &-wrap {
                margin-top: 70px;

                &-ctx:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }

        .category-items {
            margin-top: 150px;

            &-top {
                &-title {
                    h2 {
                        @extend %h2;
                    }
                }

                &-btn {
                    display: flex;
                    justify-content: center;
                    margin: 70px 0 50px;

                    &-num {
                        @extend %h2;
                        position: relative;
                        font-size: 24px;
                        line-height: 35.57px;
                        letter-spacing: 0.05em;
                        cursor: pointer;
                    }

                    &-num:not(:last-child) {
                        margin-right: 47px;
                    }

                    &-active {
                        color: #005BC1;
                    }

                    &-active::after {
                        content: "";
                        position: absolute;
                        top: 35px;
                        left: 0px;
                        color: #005BC1;
                        width: 100%;
                        border: 2px solid #005BC1
                    }
                }
            }

            &-arr {
                &-ctx {
                    cursor: pointer;
                }

                &-ctx:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }

        .equipment-rent {
            margin-top: 150px;

            &-top {
                &-title {
                    h2 {
                        @extend %h2;
                    }
                }
            }

            &-ctx {
                margin-top: 40px;

                display: flex;
                justify-content: center;

                &-explanation {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    
                    max-width: 350px;
                    margin-right: 95px;

                    font-family: "Open Sans";
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 24.51px;
                    color: #343434;
                }

                &-slider {
                    width: 672px;
                    border: 3px solid #005BC1;

                    &-wrap {
                        padding: 30px 20px;

                        &-top {
                            display: flex;
                            justify-content: space-between;
    
                            h4 {
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
    
                                font-family: "Oswald";
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 26.68px;
                                letter-spacing: 0.05em;
                            }
    
                            &-btn {
                                img {
                                    cursor: pointer;
                                    transition: all .5s;
                                }
    
                                img:hover {
                                    background-color: rgba(0, 119, 255, 0.768627451);
                                    transition: all 0.35s;
                                }
                            }
                        }
    
                        &-arr {
                            &-1 {
                                margin-top: 30px;
                                display: flex;
                                align-items: center;
                                
                                img {
                                    margin-right: 50px;
                                }
    
                                &-info {
                                    h4 {
                                        font-family: "Oswald";
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 23.71px;
                                        letter-spacing: 0.05em;
                                        color: #343434;
                                    }                
    
                                    ul {
                                        margin-top: 30px;
    
                                        li {
                                            font-family: "Open Sans";
                                            font-weight: 400;
                                            font-size: 14px;
                                            line-height: 19.07px;
                                        }
    
                                        li:not(:first-child) {
                                            margin-top: 20px;
                                        }
    
                                        li::marker {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .news {
            margin-top: 150px;

            .news-top {
                display: flex;
                justify-content: space-between;
                margin-bottom: 77px;

                .news-top-title {
                    h2 {
                        @extend %h2;
                    }
                }

                button {
                    padding: 15px 34px;
                    cursor: pointer;
                    font-family: "Open Sans";
                    font-size: 16px;
                    line-height: 21.79px;
                    letter-spacing: 0.05em;
                    color: #fff;
                    background-color: #005BC1;
                    border: 1px solid #005BC1;
                }
            }

            .news-ctx {
                display: flex;

                .news-ctx-main {
                    display: flex;
                    margin-right: 60px;

                    .news-ctx-main-info {
                        max-width: 264px;
                        margin-left: 30px;

                        .news-ctx-main-info-top {
                            display: flex;
                            justify-content: space-between;

                            h4 {
                                font-family: "Oswald";
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 26.68px;
                                letter-spacing: 0.05em;
                                color: #343434;
                            }

                            p {
                                font-family: "Open Sans";
                                font-size: 14px;
                                line-height: 19.07px;
                                color: #979797;
                            }
                        }

                        .news-ctx-main-info-text {
                            margin-top: 42px;

                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 19.07px;
                            color: #343434;
                        }

                        a {
                            display: block;
                            margin-top: 21px;

                            font-family: "Open Sans";
                            font-size: 14px;
                            line-height: 19.07px;
                            color: #343434;
                            text-decoration: underline;
                        }
                    }
                }

                .news-ctx-secondary-1 {
                    max-width: 233px;
                    margin-right: 60px;

                    .news-ctx-secondary-1-title {
                        font-family: "Oswald";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26.68px;
                        letter-spacing: 0.05em;
                        color: #343434;
                    }

                    .news-ctx-secondary-1-info {
                        margin-top: 20px;

                        font-family: "Open Sans";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        color: #343434;
                    }

                    .news-ctx-secondary-1-imgData {
                        margin-top: 20px;

                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: flex-end;

                        p {
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 19.07px;
                            color: #979797;
                        }
                    }
                }                         
                

                .news-ctx-secondary-2 {
                    max-width: 233px;
                    margin-right: 60px;

                    .news-ctx-secondary-2-title {
                        width: 0;

                        font-family: "Oswald";
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 26.68px;
                        letter-spacing: 0.05em;
                        color: #343434;
                    }

                    .news-ctx-secondary-2-info {
                        margin-top: 15px;

                        font-family: "Open Sans";
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19.07px;
                        color: #343434;
                    }

                    .news-ctx-secondary-2-imgData {
                        margin-top: 20px;

                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        align-items: flex-end;

                        p {
                            font-family: "Open Sans";
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 19.07px;
                            color: #979797;
                        }
                    }
                }                    
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-top: 120px;
    background-color: #005BC1;

    .footer-wrap {
        width: 1194px;
        color: #fff;

        hr {
            width: 100%;
            margin: 25px 0;
        }

        &-contacts-info {
            display: flex;
            justify-content: space-between;
            color: #fff;
    
            h4 {
                font-family: "Oswald";
                font-size: 18px;
                font-weight: 400;
                line-height: 26.68px;
                letter-spacing: 0.05em;
            }
    
            p {
                font-family: "Open Sans";
                font-size: 14px;
                line-height: 19.07px;
            }

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        &-list {
            display: flex;

            ul {
                list-style: none;

                li {
                    cursor: pointer;

                    font-family: "Open Sans";
                    font-size: 14px;
                    font-weight: lighter;
                    line-height: 19.07px;

                    &:not(:last-child) {
                        margin: 0 110px 10px 0;
                    }
                }
            }
        }

        &-company-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                font-family: "Open Sans";
                font-size: 14px;
                font-weight: lighter;
                line-height: 19.07px;
            }
        }
    }
}
