*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$sreen-width: 100vw;
$sreen-height: 100vh;
$screen-fontSize: 100pt;

%h2 {
    display: inline;
    margin-left: 40px;                
    font-family: "Oswald";
    font-size: 30px;
    font-weight: 400;
    line-height: 44.46px;
    letter-spacing: 0.05em;
    color: #343434;
}

header {
    height: 100vh;

    background-image: url(../images/Header/headerBack.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .header-logo-menu {
        display: flex;
        background-color: #005BC199;
        padding: 11px 0 11px 40px;

        .logo {
            display: flex;

            img {
                width: calc($sreen-width - 97vw);

                @media screen and (max-width: 1100px) {
                    width: calc($sreen-width - 92vw);
                }
            }

            .title-logo {
                width: 75px;
                height: 58px;
                padding-left: 8px;
                margin: auto;
                color: #fff;

                font-family: 'Titillium Web';
                font-size: calc($screen-fontSize - 76pt);
                line-height: 28.8px;
                text-align: center;
            }
        }

        .menu {
            margin: auto;

            ul {
                display: flex;    
                list-style: none;

                li {
                    padding-right: 26px;

                    font-family: 'Open Sans';
                    font-size: calc($screen-fontSize - 86pt);

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }

    .header-screen-content {
        position: relative;
        height: calc($sreen-height - 10vh);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .ctx {
            max-width: 778px;

            &-title {
                font-family: "Oswald";
                font-size: calc($screen-fontSize - 52pt);
                color: #fff;
            }

            &-text {
                margin: 40px 0;
                max-width: 546px;

                font-family: "Open Sans";
                font-size: calc($screen-fontSize - 84pt);
                color: #fff;
            }

            &-btn {
                padding: 15px 40px;

                border: 1px solid #fff;
                background: none;
                cursor: pointer;

                font-family: "Open Sans";
                font-size: calc($screen-fontSize - 84pt);
                text-transform: uppercase;
                color: #fff;

                position: relative;
                z-index: 2;

                ::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: #0077ffc4;
                    transition: all .35s;
                    z-index: -2;
                }

                :hover {
                    color: #fff;
                }

                :hover::after {
                    width: 100%;
                }
            }
        }
    }
}

.main-block {
    margin-top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    &-wrap {
        .slider {
            &-top {
                display: flex;
                justify-content: space-between;

                &-title {
                    h2 {
                        @extend %h2;
                    }
                }

                &-btn {
                    cursor: pointer;
                    transition: all .5s;

                    :hover {
                        background-color: #0077ffc4;
                        transition: all .35s;
                    }
                }
            }

            &-wrap {
                margin-top: 70px;

                &-ctx:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }

        .category-items {
            margin-top: 150px;

            &-top {
                &-title {
                    h2 {
                        @extend %h2;
                    }
                }

                &-btn {
                    display: flex;
                    justify-content: center;
                    margin: 70px 0 50px;

                    &-num {
                        @extend %h2;
                        position: relative;
                        font-size: 24px;
                        line-height: 35.57px;
                        letter-spacing: 0.05em;
                        cursor: pointer;
                    }

                    &-num:not(:last-child) {
                        margin-right: 47px;
                    }

                    &-active {
                        color: #005BC1;
                    }

                    &-active::after {
                        content: "";
                        position: absolute;
                        top: 35px;
                        left: 0px;
                        color: #005BC1;
                        width: 100%;
                        border: 2px solid #005BC1
                    }
                }
            }

            &-arr {
                &-ctx {
                    cursor: pointer;
                }

                &-ctx:not(:last-child) {
                    margin-right: 30px;
                }
            }
        }


    }
}
